<form>
  <div class="form-group">
    <label for="{{@root.idPrefix}}all">All</label>
    <select id="{{@root.idPrefix}}all" name="all">
      {{selectOptions uskills nameAttr="slug" labelAttr="label" sort=true blank="-" localize="true"}}
    </select>
  </div>
  <hr />
  {{#each tokens as |token|}}
    <div class="form-group">
      <label for="{{@root.idPrefix}}{{token.id}}">{{token.name}}</label>
      <select id="{{@root.idPrefix}}{{token.id}}" name="{{token.id}}">
        {{! <option value="perception" selected>Perception</option> }}
        {{selectOptions
          token.skills
          nameAttr="slug"
          labelAttr="label"
          sort="true"
          localize="true"
          selected="perception"
        }}
      </select>
    </div>
  {{/each}}
</form>